#form {
    background-color: #FFF;
    /*height: 600px;*/
    width: 350px;
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    /*margin-top: 0px;*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px;
    text-align:center;
}
label {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: #333;
    height: 17px;
    width: 10%;
    margin-top: 10px;
    /*margin-left: 10px;*/
    text-align: right;
    margin-right:25px;
    float:left;
    position: relative;
}
input {
    height: 20px;
    width: 70%;
    border: 1px solid #000;
    margin-top: 10px;
    padding: 3px;
    position: relative;
}
.button {
    width: 100px;
}